<!-- Brandon place for Navbar -->
    <div class="providerSeachResults">

    </div>
    <a href="/user/saved"><button type="button" class="btn btn-block mybtn btn-primary tx-tfm">View your saved searches</button></a>
    <script src="/js/results.js"></script>